<div class="init-plot-data">
	<div class="init-plot-data-wrapper">
		<div class="init-plot-data-wrapper__triple-block">
			<number-input [value]="model.l" (valueChange)="model.l = $event" [step]="1"
						  [text]="'l (mkm)'"></number-input>
			<number-input [value]="model.L" (valueChange)="model.L = $event" [step]="1"
						  [text]="'L (mkm)'"></number-input>
			<number-input [value]="model.T" (valueChange)="model.T = $event" [step]="1e-15" [text]="'T (s)'"></number-input>
		</div>
		<div class="init-plot-data-wrapper__triple-block">
			<number-input [value]="model.lambda" (valueChange)="model.lambda = $event" [step]="1"
						  [text]="'&lambda; (mkm)'"></number-input>
			<number-input [value]="model.c" (valueChange)="model.c = $event" [step]="1e12"
						  [text]="'c (mkm/s)'"></number-input>
			<number-input [value]="model.epsilon" (valueChange)="model.epsilon = $event" [step]="10"
						  [text]="'epsilon'"></number-input>
		</div>
	</div>

	<button class="init-plot-data__button" (click)="buildPlot()">Build a plot</button>
</div>
