<div class="init-plot-data">

	<number-input [(value)]="model.l" [step]="1" [text]="'l (m)'"></number-input>
	<number-input [(value)]="model.L" [step]="1" [text]="'L (m)'"></number-input>
	<number-input [(value)]="model.T" [step]="1" [text]="'T (s)'"></number-input>
	<number-input [(value)]="model.lambda" [step]="0.01" [text]="'&lambda; (m)'"></number-input>
	<number-input [(value)]="model.c" [step]="1e6" [text]="'c (m/s)'"></number-input>

	<button class="init-plot-data__button" (click)="buildPlot()">Build plot</button>
</div>
