@import "../../../styles.less";

.plot-wrapper {
	display: flex;
	flex-direction: column;
}

.plot {
	width: 600px;
	height: 370px;
	transition-duration: @transition-duration;

	&:hover {
		box-shadow: 0 0 17px 2px @color-2;
		transform: scale(1.01)
	}
}

.rebuild-button {
	.button;
	margin: 30px auto;
	width: 180px;

	&:hover {
		.button-hover;
	}
}
